.text-wrapper {
    background-color: rgba(17, 17, 17, 0.8);
    padding: 1.5em;

    h1 { font-size: 3em; 
        margin-bottom: 0.3em;
    color: $secondary;
    }

    p { text-align: left;
    }
}

.release-details { 
    display: flex;
    flex-direction: column;

    h4 { text-align: left; 
    margin-top: 0.5em;
    }
}